{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Perfect Portraits - Pre-wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/>
    </noscript>


    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicons/apple-touch-icon-57x57.png" %}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicons/apple-touch-icon-60x60.png" %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicons/apple-touch-icon-72x72.png" %}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicons/apple-touch-icon-76x76.png" %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicons/apple-touch-icon-114x114.png" %}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicons/apple-touch-icon-120x120.png" %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicons/apple-touch-icon-144x144.png" %}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicons/apple-touch-icon-152x152.png" %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon-180x180.png" %}"/>
    <link rel="icon" type="img/png" href="{% static "favicons/favicon-32x32.png" %}" sizes="32x32"/>
    <link rel="icon" type="img/png" href="{% static "favicons/favicon-96x96.png" %}" sizes="96x96"/>
    <link rel="icon" type="img/png" href="{% static "favicons/android-chrome-192x192.png" %}" sizes="192x192"/>
    <link rel="icon" type="img/png" href="{% static "favicons/favicon-16x16.png" %}" sizes="16x16"/>
    <link rel="manifest" href="{% static "favicons/manifest.json" %}"/>
    <link rel="shortcut icon" href="{% static "favicons/favicon.ico" %}"/>
    <meta name="msapplication-config" content="{% static "favicons/browserconfig.xml" %}"/>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
{#    <link rel="stylesheet" href="{% static "css/responsive.css" %}">#}
    <link rel="stylesheet" href="{% static "css/jquery.bxslider.css" %}">
    <link rel="stylesheet" href="{% static "css/jPushMenu.css" %}">
    <link rel="stylesheet" href="{% static "css/lightbox.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    <style>
        body {
            background-color: #FFF0FC;
        }

        #bg {

            top: 0;
            left: 0;

            min-width: 100%;
            min-height: 100%;
            padding-bottom: 80px;
        }

        #space {
            padding-top: 50px;
        }
    </style>


</head> <!-- head -->
<body>

<!-- ============== start wrapper  ============== -->
<div id="wrapper">
    <!-- main-nav -->
    <div class="main-nav">
        <div class="logo-left">
            <a data-scroll href="{% url 'index' %}">
                <img style="width: 15%; height: 3%;" src="{% static "logo.png" %}" alt="logo">
            </a>
        </div>
    </div> <!-- //end main-nav -->

    <!-- ============== start home section  ============== -->
    <section id="start">
        <div id="wed" style="image: url({% static "wed-main.jpg" %})">
            <img id="bg" src="{% static 'pre-c.jpg' %}" alt="">

        </div><!-- //item -->
    </section>


    <!-- Main -->
    <div id="main">
        <article class="thumb">
            <a href="images/fulls/01.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""/></a>
            <h2>Magna feugiat lorem</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/02.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""/></a>
            <h2>Nisl adipiscing</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""/></a>
            <h2>Tempus aliquam veroeros</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt=""/></a>
            <h2>Aliquam ipsum sed dolore</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/05.jpg" class="image"><img src="images/thumbs/05.jpg" alt=""/></a>
            <h2>Cursis aliquam nisl</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/06.jpg" class="image"><img src="images/thumbs/06.jpg" alt=""/></a>
            <h2>Sed consequat phasellus</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/07.jpg" class="image"><img src="images/thumbs/07.jpg" alt=""/></a>
            <h2>Mauris id tellus arcu</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/08.jpg" class="image"><img src="images/thumbs/08.jpg" alt=""/></a>
            <h2>Nunc vehicula id nulla</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/09.jpg" class="image"><img src="images/thumbs/09.jpg" alt=""/></a>
            <h2>Neque et faucibus viverra</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/10.jpg" class="image"><img src="images/thumbs/10.jpg" alt=""/></a>
            <h2>Mattis ante fermentum</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/11.jpg" class="image"><img src="images/thumbs/11.jpg" alt=""/></a>
            <h2>Sed ac elementum arcu</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
        <article class="thumb">
            <a href="images/fulls/12.jpg" class="image"><img src="images/thumbs/12.jpg" alt=""/></a>
            <h2>Vehicula id nulla dignissim</h2>
            <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
        </article>
    </div>


    <!-- ========= //End home section ========= -->
    <div id="space">

    </div>


    <!-- ============== Start contact section ============== -->
    <section id="contact">

</div>
<div class="color-overlay">
    <div class="container">
        <div class="row">

        </div>
    </div> <!-- //row -->
</div> <!-- //container -->
</div>
</section>
<!-- ========= //End contact section ========= -->


<!-- ============== Start footer ============== -->
<section id="footer">
    <div class="container bottom-part">
        <div class="row">
            <div class="col-sm-4 left-part">
                    <span class="footer-logo "><img style="height: 19%; width: 60%; padding-bottom: 5px" src="{% static "logo.png" %}"
                                                    alt="logo">
                    </span><br/>
                <p>This free website template is the first step to get you started with your personal photography
                    website. Learn the game and get some fame. Don't restrict your photography viewership to your
                    close circle. Go beyond and make it public on your photography website. </p>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <ul class="social-icon-footer list-inline mtb50">
                    <li><a href="https://www.facebook.com/portraitsperfect"><i
                            class="fa fa-facebook-square"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCdUGzZH2Mo4YnNSZEtawCww"><i
                            class="fa fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>

            </div>
        </div> <!-- //row -->
    </div> <!-- //container -->

    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-4">
                    <p class="info">
                        &copy; <a href="https://www.frittt.com/" target="_blank">Copyright</a>.
                        Amit Gautam
                    </p>
                </div>
            </div> <!-- //row -->
        </div> <!-- //container -->
    </div> <!-- //end copyright -->
</section>
<!-- ========= //End footer ========= -->

</div> <!-- //end wrapper -->

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- loader -->
<script src="{% static "js/loader.min.js" %}"></script>
<script src="{% static "js/preloader.js" %}"></script>
<!-- animation effects -->
<script src="{% static "img/portfolio/06.jpg" %}/js/wow.min.js"></script>
<!-- count-down -->
<script src="{% static "js/jquery.inview.min.js" %}"></script>
<script src="{% static "js/jquery.counterup.min.js" %}"></script>

<!-- content slider -->
<script src="{% static "js/jquery.bxslider.min.js" %}"></script>

<!-- google maps -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{% static "js/gmaps.js" %}"></script>
<script src="{% static "js/init-map.js" %}"></script>

<!-- pushmenu -->
<script src="{% static "js/jPushMenu.js" %}"></script>

<!-- smooth navigation -->
<script src="{% static "js/mousescroll.js" %}"></script>
<script src="{% static "js/jquery.nav.js" %}"></script>

<!-- filter portfolio & lightbox -->
<script src="{% static "js/jquery.isotope.min.js" %}"></script>
<script src="{% static "js/lightbox.min.js" %}"></script>

<!-- smooth scrool -->
<script src="{% static "js/smoothscroll.js" %}"></script>

<!-- custom js -->
<script src="{% static "js/app.js" %}"></script>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>